
<!--
<ul>
  <li>
      <a href="" ng-click="scrollTo('group')">Scroll to #foo</a>
  </li>
  <li>
      <a href="#calendar">2</a>
  </li>
  <li>
      <a href="#destination">3</a>
  </li>
  <li>
      <a href="#budget">4</a>
  </li>
  <li>
      <a href="#list">5</a>
  </li>
</ul> -->

<section id = "group">
  <app-group [tripId]="tripId"></app-group>
</section>

<section id = "calendar">
  <app-calendar [tripId]="tripId"></app-calendar>
</section>

<section id = destination>
  <app-destination [tripId]="tripId"></app-destination>
</section>

<div id="budget">
  <app-budget [tripId]="tripId"></app-budget>
</div>

<div id="list">
  <app-list [tripId]="tripId"></app-list>
</div>

  
