
<section class = "group">
  <app-group [tripId]="tripId"></app-group>
</section>

<section id = "calendar">
  <app-calendar [tripId]="tripId"></app-calendar>
</section>

<section >
  <app-chat [topic] = "calendar" [tripId]="tripId"></app-chat>
</section>



<div class = destination>
  <app-destination [tripId]="tripId"></app-destination>
</div>

<section >
  <app-chat [topic] = "destination" [tripId]="tripId"></app-chat>
</section>

<div class="budget">
  <app-budget [tripId]="tripId"></app-budget>
</div>

<div class="list">
  <app-list [tripId]="tripId"></app-list>
</div>

<section >
  <app-chat [topic] = "list" [tripId]="tripId"></app-chat>
</section>
  
