<h1 class="text-center">Badges</h1>

	
<div class="container">
<div class="row">


<div class="col-lg-4" *ngFor="let badge of badges" [style.opacity]="getOpacity(badge.score)">
<div class="our-team-main" >

<div class="team-front" [style.background-color]="getColor(badge.score)">
<img src="assets/img/{{badge.key}}.png" class="img-fluid" />

<h3 >{{getTitle(badge.key)}}</h3>
<p *ngIf="isNumber(badge.score)"> Récompense : {{badge.score}}</p>
</div>

<div class="team-back">
<span>
{{getText(badge.key)}}
</span>
</div>

</div>
</div>


</div>
</div>
