<html>
 
<div class="container">
        <div class="row">
                <div class="col-lg-10">
                            <div class="account-wall">
  
  <p>My group</p>


  <ul class="list-group">
      <app-groupuser *ngFor="let Groupuser of group"
                     [userName]="Groupuser.username"
                     ></app-groupuser>
  </ul>

  <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="form-signin">
      
      <div class="form-group">
      <input type="email" id="UserEmailgroup" class="form-control" name="UserEmailgroup" placeholder="User Email" ngModel required autofocus>
      </div>

      <button class="btn btn-lg btn-primary btn-block"  type="submit" [disabled]="f.invalid">Add user</button>
  </form>
  
</div>
</div>
</div>
</div>

<div>
    <p>User</p>
    <ul class="list-group">
        <app-user  *ngFor="let user of users"
                       [userName]="user.name"
                       [userEmail]="user.email"
                       [userPassword]="user.password"
                       ></app-user>
    </ul>
  
  </div>

</html>