<div class="container">
  <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
          <div class="panel panel-primary couleur">
              <div class="panel-heading couleur" id="accordion">
                  <span class="glyphicon glyphicon-comment"></span> On t'entend pas à la proue ! 
                  <div class="btn-group pull-right">
                      <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#{{'collapseOne'+ topic}}">
                          <span class="glyphicon glyphicon-chevron-down"></span>
                      </a>
                  </div>
              </div>

          <div class="panel-collapse collapse" id="{{'collapseOne'+ topic}}">
              <div class="panel-body">
                  <ul class="chat">
                      <app-message
                      *ngFor="let chat of chats"
                      [userName]="chat.username"
                      [date]="chat.date"
                      [content] = "chat.message"
                      [isUser] = "chat.isUser"></app-message>
                  </ul>
              </div>
              <div class="panel-footer">
                  <form (ngSubmit)="sendMessage(f)" #f="ngForm">
                  <div class="input-group">
                      <input type="text" id="btn-input" class="form-control input-sm" name="name" placeholder="Type your message here..." ngModel required>
                      <span class="input-group-btn" >
                          <button class="btn btn-warning btn-sm" id="btn-chat" type="submit" [disabled]="f.invalid">
                              Send</button>
                      </span>
                  </div>
                </form>
                
                      
                       
                     
              
                    
                    

              </div>
          </div>
          </div>
      </div>
  </div>
</div>
