<html>
<body>

<div id="formWrapper">

    <div id="form">
    <div class="logo">
    <!--<h1 class="text-center head">Connexion</h1>-->
    <img class="profile-img" src="assets/img/logo.png"
                    alt="">
    </div>

    <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="form-signin" >

        <div class="form-item">
          <input type="email" id="email" class="form-style" name="email" placeholder="Email" ngModel required autofocus> 
        </div>

        <div class="form-item">
          <input type="password" id="Userpassword" class="form-style" name="Userpassword" placeholder="Password" ngModel required autofocus>
          <div class="pw-view"><i class="fa fa-eye"></i></div> 	
        </div>

        <div class="form-item">
        <p class="pull-left">
        <a href="#" routerLink="registration">
           <p>Inscris toi</p>
        </a></p>
        <button class="login pull-right login" type="submit" [disabled]="f.invalid">Connexion</button>
        <div class="clear-fix"></div>
        </div>
    </form>
    </div>
    </div>

    </body>
    </html> 