#badges{
    background: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;

}
 #infoUser{
  padding-bottom: 100px;
 }
 #editUser{
  padding-bottom: 100px;
 }

 body{
     margin-top: 0px;
 }
