<div class="portfolio-item">
    <div class="card h-100">
      <a [routerLink]="[tripId]" ><img class="card-img-top" style = " height: 350px;"
      src="{{SourceImg}}" alt="" ></a>
      <div class="card-body">
        <h4 class="card-title">
          {{tripName}}
        </h4>
        <p class="card-text">Destination  : {{DestinationFinal}}</p>
        Etat d'avancement : 
        <div class="progress">
          <div class="progress-bar" role="progressbar" [style.width.%]="getWidth()" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
</div>


