<div class ="container">

    <ng-template #tipContent>
        
        <ul>
            <li>Logement : {{this.LogementDestination}} Eur</li>
            <li>Transport : {{this.TransportDestination}} Eur</li>
            <li>Restaurant : {{this.RestaurantDestination}} Eur</li>
            <li>Bière : {{this.BiereDestination}} Eur</li>
            <li>NightClub : {{this.NightClubDestination}} Eur</li>

       </ul>
    
    </ng-template>

    <app-survey  *ngFor="let destination of destinations" 
                [tripId] = "tripId"
                [destination] = "destination.destination_name"
                [userVote] = "destination.user_vote"
                [votes] = "destination.votes"
                [userId] = "userId"
                [ngStyle]="{visibility: getSondageVisibility(this.Ondestinationfinal())}"
                [ngbTooltip]="tipContent"
                ></app-survey>
      

<p>
    <input  ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" [ngStyle]="{visibility: getSondageVisibility(this.FinalDestination)}"/>
</p>

<div [ngStyle]="{visibility: getVisibility()}">
    <button class="btn btn-lg btn-primary"  (click)="OnValidate()">Destination Validation</button>
</div>

<div>
    <h4>La prochaine Quête Listo se déroulera à: {{this.Ondestinationfinal()}}</h4>
</div>

</div>
