<h1 class="text-center">
        Destination
</h1>
 <div [ngStyle]="{visibility: getVisibility()}" style="position: relative;">
            <button class="btn btn-lg btn-primary validation"  (click)="OnValidate() ">Validation</button>
</div>
<img src="assets/img/compass.png" style="height: 125px"/>

    
<div class ="container">


    <ng-template #tipContent>
        
        <ul>
            <li>Bouteille de vin : {{this.WineBottleDestination}} {{this.Currency}}</li>
            <li>Transport : {{this.TransportDestination}} {{this.Currency}}</li>
            <li>Restaurant : {{this.RestaurantDestination}} {{this.Currency}}</li>
            <li>Bière : {{this.BiereDestination}} {{this.Currency}}</li>
            <li>Mcdonald : {{this.McdonaldDestination}} {{this.Currency}}</li>

       </ul>
    
    </ng-template>

    <app-survey  *ngFor="let dest of destinations" 
                [tripId] = "tripId"
                [destination] = "dest.destination_name"
                [userVote] = "dest.user_vote"
                [votes] = "dest.votes"
                [userId] = "userId"
                [ngStyle]="{visibility: getSondageVisibility(this.Ondestinationfinal())}"
                [ngbTooltip]="tipContent"
                ></app-survey>
<div class="row">
<div class="col-md-3"></div>
<div class = "col-md-6">
    <input  ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"  class="inputDestination" (onAddressChange)="handleAddressChange($event)" [ngStyle]="{visibility: getSondageVisibility(this.FinalDestination)}"/>
</div>
<div class="col-md-3"></div>
</div>
<br>

<app-chat [topic] = "destination" [tripId]="tripId"></app-chat>

<div>
    <h4>La prochaine Quête Listo se déroulera à: {{this.Ondestinationfinal()}}</h4>
</div>

</div>
