.addTrip{
    cursor: pointer;
}

.trip-item{
    margin-top: 10px; 
}

#overview{
    margin-top: 100px; 
}

.ajout{
    
    width: 152px;
    height: 40px;
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    border-radius: 19px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #55b1df;

    color: #fff;
    font-weight: bold;
    
    border: 1px solid whitesmoke;
    
 }
.ajout:hover{background-color: #fff; border:1px solid #55b1df; color:#55b1df; cursor:pointer;}
.ajout:focus{outline: none;}

