 <section id ="overview">
  <div class = "container">
    <div class="row">
      <app-trip class="col-sm-4 trip-item"  *ngFor="let trip of trips"
                  [tripName]="trip.name"
                  [tripId]="trip._id"
                  [DestinationFinal] = "trip.destination.final_destination"
                  [SourceImg] = "this.getImageTrip(trip.destination.final_destination)"
                  [tripState] = "trip.state">
                  
      </app-trip>
    
  
  <div class="portfolio-item trip-item col-sm-4 addTrip" *ngIf="getVisibility() === 'hidden'" >
      <div class="card h-100">
        <a  (click)="addTrip()" ><img class="card-img-top" style = " height: 350px;"
        src="assets/img/plus.png" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            Nouveau Périple
          </h4>
        </div>
      </div>
  </div>
    

    <div class="portfolio-item trip-item col-sm-4 addTrip" *ngIf="getVisibility() === 'visible'" >
      <div class="card h-100">
          <img class="card-img-top" style = " height: 350px;"
          src="assets/img/island.png" alt="">

        <div class="card-body" >
          <h4 class="card-title">
            Nouveau Périple 
          </h4>
          <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group">
              <input placeholder="Nomme cette aventure" type="text" id="name" class="form-control" name="name" ngModel required>
          </div>
          <div  style="text-align:center;">
          <button class="btn btn-primary ajout" type="submit" [disabled]="f.invalid">Hissez les voiles</button>
        </div>
          </form>
        </div>
      </div>
  </div>
    </div>
  
    

  <button class="btn btn-success" (click)="Deconexion()">  Deconnexion </button>
</div>
</section> 
