<div class="container">
  <div class="row">
          <div class="col-lg-6">
                      <div class="account-wall">

                          <h1 class="text-center login-title">My LISTO BUDGET</h1>
                          <form (ngSubmit)="onCalcul(f)" #f="ngForm" class="form-signin">
                            
                          <div class="form-group">
                              <input type="number" id="Transport" class="form-control" (change)="MiseaJourTotal(f)" name="Transport" placeholder="Transport" ngModel required autofocus>
                          </div>
                      
                          <div class="form-group">
                              <input type="number" id="Logement" class="form-control" (change)="MiseaJourTotal(f)" name="Logement" placeholder="Logement" ngModel required autofocus>
                          </div>
                      
                          <div class="form-group">
                                <input type="number" id="Loisir" class="form-control" (change)="MiseaJourTotal(f)" name="Loisir" placeholder="Loisir" ngModel required autofocus>
                          </div>

                          <div class="form-group">
                              <label>TOTAL</label>
                              <input type="number" id="Total" class="form-control"  name="Total" placeholder="Total" disabled="disabled" [value]="this.TotalVar"  readonly ngModel required autofocus>
                              
                          </div>
                      
                          <button class="btn btn-lg btn-primary btn-block"  type="submit" [disabled]="f.invalid">Valider</button>
                
                        </form>
                        <button class="btn btn-lg btn-primary btn-block"  (click) ="onModifier()">Modifier</button>
        
        
</div>

<div class="account-wall"> 
<table id="Mytable">

    
        <tr>
            <th></th>
            <th>My Listo Budget</th>
            <th>Budget Moyen</th>
            <th>Total</th>
        </tr>
  
    
 </table>

 <h4>Average Budget  : {{MoyenBudget}}</h4>
 </div>


</div>
</div>
</div>            
