<header>
  <nav class="navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Listo</a>
      </div>
      


      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li routerLinkActive="active"> <a class="nav-item nav-link" routerLink="overview" [ngStyle]="{visibility: getVisibility()}">Voyage</a></li>
          <li routerLinkActive="active"> <a class="nav-item nav-link" routerLink="account" [ngStyle]="{visibility: getVisibility()}">Compte</a></li>
          
        </ul>
        <ul class="navbar-nav navbar-right">
          <li routerLinkActive="active"> <a class="nav-item nav-link" routerLink="registration"  [ngStyle]="{visibility: getVisibility2()}">Inscription</a></li>
          <li routerLinkActive="active"><a style="cursor: pointer" [ngStyle]="{visibility: getVisibility()}" class="nav-item nav-link" (click)="Deconexion()"><span class="glyphicon glyphicon-log-out"></span> Déconnexion</a></li></ul>
      </div>

    </div>
  </nav>

  

  
</header>


<body>
    <router-outlet></router-outlet>
</body>

<footer>
  
</footer>
