<html>
<body>
        <h1 class="text-center">Mes Listes</h1>

        <div class="container">
                <div class="row">
                      <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                              <div id="formWrapper">
                                    <div id="form">
                                     
                                          <div class="logo">
                              
                                                  <img class="profile-img" src="assets/img/List.png"
                                                                  alt="">
                                                  </div>
                                        
                                        <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="form-signin">
                                  
                                              <div class="form-item">
                                                <input type="text" id="task" class="form-style" name="task" placeholder="New Thing to do" ngModel required autofocus>
                                            </div>
                          
                                      
                                              <div class="form-item">
                                                <select id="responsable" class="form-style" name="responsable" ngModel> 
                                                        <option selected="yes"> -- Choose One User -- </option>
                                                        <option *ngFor="let Groupuser of group" [value]="Groupuser._id">{{Groupuser.username}}</option>
                                                    </select>
                                                <div class="pw-view"><i class="fa fa-eye"></i></div> 	
                                              </div>
                          
                                              <div class="form-item">
                                                     <select id="listtype" class="form-style" name="listtype" ngModel>
                                                            <option value = "toDoList" selected="yes">TodoList</option>
                                                            <option value = "bringList">BringList</option>
                                                     </select>
                                              </div>
                          
                                              <div class="form-item">
                                                      <input type="number" id="difficulte" class="form-style" name="difficulte" placeholder="Difficultés" value="0" min="0" max="10" ngModel required autofocus>
                                              </div>
                          
                                              
                                              <div class="form-item">
                                              <button id = "TodoList" class="login pull-right login"  type="submit" [disabled]="f.invalid">Ajouter la tâche</button>    
                                              <div class="clear-fix"></div>
                                              </div>
                          
                                          </form>
              </div>       
              </div>
              </div>
              </div>
              </div> 



    <!-- TODO LIST TABLE -->
    <div class="container">
            <div class="row">
                    <div class="col-lg-12">

                <section>
                         <!--HEAD TABLE-->
                         <h4>TODO LIST</h4>
                        <div class="tbl-header" >
                          <table id="MytableTodoList" cellpadding="0" cellspacing="0">
                            <thead> 
                              <tr>
                                  <th>Tache</th>
                                  <th>Responsable</th>
                                  <th>Difficultés</th>
                                  <th>Statue</th>
                                  <th>Option</th>
                                  <th>Modification</th>
                              </tr>
                            </thead>
                            </table>
                            </div>

                            <div class="tbl-content">
                            <table cellpadding="0" cellspacing="0">
                            <tbody>
                                
                                <tr *ngFor="let item of this.TodoList">
                                    <td>{{item.description}}</td>
                                    <td>{{item.usersInvolved}}</td>
                                    <td>{{item.difficulty}}</td>
                                    <td>{{item.status}}</td>
                                    <td>
                                       <div>
                                            <button class="DeleteButton"  (click)="OnDelete(item._id,this.ListTypeTodo)">Delete</button>
                                            <button class="DoneButton"  (click)="OnDone(item._id,this.ListTypeTodo,item.description,item.usersInvolved,item.difficulty,this.StatusTrue)">Done</button>
                                        </div>
                                        </td>
                                        
                                        <td>

                                                        <form (ngSubmit)="onModify(f,item._id,this.ListTypeTodo,item.status)" #f="ngForm" class="form-signin">
                                  
                                                                <div class="form-item2">
                                                                  <input type="text" id="task" class="form-style" name="task" placeholder="New Thing to do" ngModel required autofocus>
                                                              </div>
                                            
                                                        
                                                                <div class="form-item2">
                                                                  <select id="responsable" class="form-style" name="responsable" ngModel> 
                                                                          <option selected="yes"> -- Choose One User -- </option>
                                                                          <option *ngFor="let Groupuser of group" [value]="Groupuser._id">{{Groupuser.username}}</option>
                                                                      </select>
                                                                  <div class="pw-view"><i class="fa fa-eye"></i></div> 	
                                                                </div>
                                            
                                            
                                                                <div class="form-item2">
                                                                        <input type="number" id="difficulte" class="form-style" name="difficulte" placeholder="Difficultés" value="0" min="0" max="10" ngModel required autofocus>
                                                                </div>
                                            
                                                                
                                                                <div class="form-item2">
                                                                <button id = "TodoList" class="login2 pull-right login2"  type="submit" [disabled]="f.invalid">Modifier</button>    
                                                                <div class="clear-fix"></div>
                                                                </div>
                                            
                                                            </form>
                                                
                                        </td>
                                </tr>

                            </tbody>
                          </table>
                        </div>

                </section>
            </div>
            </div>
            </div>





        <!-- BRING LIST TABLE -->
        <div class="container">
                <div class="row">
                        <div class="col-lg-12">

                    <section>

                          <h4>BRING LIST</h4>

                          <div class="tbl-header" >
                        <table id="MytableTodoList" cellpadding="0" cellspacing="0">
                            <thead> 
                            <tr>
                                    <th>Tache</th>
                                    <th>Responsable</th>
                                    <th>Difficultés</th>
                                    <th>Statue</th>
                                    <th>ID</th>
                                    <th>Option</th>
                                    <th>Modification</th>
                              </tr>
                            </thead> 
                              </table>
                                </div>

                                <div class="tbl-content">
                                <table cellpadding="0" cellspacing="0">
                              <tbody>
                                
                                    <tr *ngFor="let item of this.BringList">
                                        <td>{{item.description}}</td>
                                        <td>{{item.usersInvolved}}</td>
                                        <td>{{item.difficulty}}</td>
                                        <td>{{item.status}}</td>
                                        <td>{{item._id}}</td>
                                        <td>
                                           <div>
                                                <button class="DeleteButton" (click)="OnDelete(item._id,this.ListTypeBring)">Delete</button>
                                                <button class="DoneButton"  (click)="OnDone(item.id,this.ListTypeBring,item.description,item.usersInvolved,item.difficulty,this.StatusTrue)">Done</button>
                                            </div>
                                            </td>
                                        
                                        <td>
                                                   

                                                            <form (ngSubmit)="onModify(f,item._id,this.ListTypeBring,item.status)" #f="ngForm" class="form-signin">
                                  
                                                                    <div class="form-item2">
                                                                      <input type="text" id="task" class="form-style" name="task" placeholder="New Thing to do" ngModel required autofocus>
                                                                  </div>
                                                
                                                            
                                                                    <div class="form-item2">
                                                                      <select id="responsable" class="form-style" name="responsable" ngModel> 
                                                                              <option selected="yes"> -- Choose One User -- </option>
                                                                              <option *ngFor="let Groupuser of group" [value]="Groupuser._id">{{Groupuser.username}}</option>
                                                                          </select>
                                                                      <div class="pw-view"><i class="fa fa-eye"></i></div> 	
                                                                    </div>
                                                
                                                
                                                                    <div class="form-item2">
                                                                            <input type="number" id="difficulte" class="form-style" name="difficulte" placeholder="Difficultés" value="0" min="0" max="10" ngModel required autofocus>
                                                                    </div>
                                                
                                                                    
                                                                    <div class="form-item2">
                                                                    <button id = "TodoList" class="login pull-right login"  type="submit" [disabled]="f.invalid">Modifier</button>    
                                                                    <div class="clear-fix"></div>
                                                                    </div>
                                                
                                                                </form>
                                                    
                                        </td>
                                    </tr>
    
                                </tbody>
                          </table>
                          </div>
                        </section>
                    

</div>
</div>
</div>

</body>
</html>
