 <!--<div class="col-lg-1" style="padding: 20px">

    <img class="profile-img" src="assets/img/{{avatarPath}}"
    alt="">
    <h4>{{userName}}</h4>



</div> -->

<li class="col-12 col-md-6 col-lg-3">
            
        <div class="cnt-block equal-hight" style="height: 349px;">
            
            <figure>
                    <img class="img-responsive" src="assets/img/{{avatarPath}}" alt="">
            </figure>
            <h3><a href="http://www.webcoderskull.com/">{{userName}}</a></h3>
            <p>Hofstra University School of Law Hempstead, New York</p>

          </div>
</li>

