<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
            <div class="col-lg-5">
                        <div class="account-wall">

                <h1 class="text-center login-title">Info User</h1>
                
                <div class = "UserInfo1"> 
                <div class="Imageandtext"> 
                        <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                        alt="">
                </div>
                
                <div >
                        <h4 class="PersoandLevel"> Personnage : </h4>
                        <h4 class="PersoandLevel"> Niveau  : </h4>
                </div>      
                </div>
                
                <div class = "UserInfo">
                        <div> 
                           <h4 class=" UserAccount"> User  : {{InfoUserName}} </h4>
                        </div>
                             
                        <div>
                            <h4 class=" UserAccount"> Email : {{InfoUserEmail}} </h4>
                        </div>
            
                        <div>
                            <h4 class=" UserAccount"> Password : {{InfoUserPassword}} </h4>
                        </div>
                </div>                
</div>
</div>
</div>
</div>