
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #c7c7c7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 24px;
    font-weight: 400;
    display: block;
    margin-top: 15px;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: -20px 30px 0px 80px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid white;

    border-radius: 50%;
    padding: 5px;
 background: #ff3131; 
 background: -webkit-linear-gradient(to bottom, #fcb045, #1da70b, #ff3131); 
 background: linear-gradient(to bottom, #fcb045, #1da70b, #ff3131);
}

.UserInfo
{
    margin-top: 50px;
}

.UserInfo1
{
    margin-top: 50px;
}


.Imageandtext{
    float:left;
}

.PersoandLevel{
    color: #555;
    font-size: 18px;
    font-weight: 400;
}

.UserAccount
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    margin-left: 20%  
}



